body{
     background: linear-gradient(#f38b8b,60%, #9198e5);;
     margin: 0px;
     padding: 0px;
     background-position-y: top;
     height: 1000px;
}
#box{
     border: 0px solid red;
     width: 25%;
     height: 500px;
     margin: auto;
     margin-top: 150px;
     text-align: center;
     background-color: white;
     border-radius: 20px;
     padding-top: 30px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: medium;
}
div>input{
     font-size: medium;
     width: 95%;
     height: auto;

     border: 1px solid rgb(232, 240, 232);
     width: 90%;
     height: 50px;

     margin-bottom: 50px;
     border-radius: 5px;
     border: none;
     border-bottom-style:solid ;
     border-bottom: 1.5px solid darkgoldenrod;

}
button{
     background-color: #1877f2;
     color: azure;
     font-size: 25px;
     width: 95%;
     height: 50px;
     margin-bottom: 30px;
     border-radius: 5px;
     border: none;
     background: linear-gradient(#e66465,59%, #9198e5);
     
}
button:hover{
     font-size: xx-large;
     color:rgb(197, 219, 241)
}
p{
     color:;
     font-size: medium;
}
span{
     color: rgb(79,125,169);
     
}
span:hover{
     font-size: large;
     color:rgb(197, 219, 241)
}